@import './_variables';
@import './_mixins';

.background-container {
  @include background();
  top:0;
  bottom:0;
  position:fixed;
  z-index:-1;
  display: flex;
  flex-direction: column;
}

//~~~~~~~~~~ clouds ~~~~~~~~~~~~
.cloud-container {
  width: 100vw;
  height: 75vh;
  padding-bottom: 20vh;
}

.cloud-one {
    animation:slide-left 68s alternate infinite;
    width: 29vw;
    margin: 10%;
    position: absolute;
}

.cloud-two {
  animation:slide-right 77s alternate infinite;
  width: 39vw;
  margin: 20%;
  position: absolute;
  transform: rotateY(180deg)
}

.cloud-three {
  animation:slide-left 61s alternate infinite;
  width: 52vw;
  margin: 4%;
  position: absolute;
  transform: rotateY(180deg)
}

.cloud-four {
  animation:slide-left 57s alternate infinite;
  width: 36vw;
  margin-left: 13%;
  position: absolute;
}

.cloud-five {
  animation:slide-right 71s alternate infinite;
  width: 23vw;
  margin: 12%;
  position: absolute;
  transform: rotateY(180deg)
}

.cloud-six {
  animation:slide-left 48s alternate infinite;
  width: 45vw;
  margin: 20%;
  position: absolute;
}

.cloud-seven {
  animation:slide-left 54s alternate infinite;
  width: 37vw;
  margin: 12%;
  position: absolute;
}

.cloud-eight {
  animation:slide-left 44s alternate infinite;
  width: 26vw;
  margin: 10%;
  position: absolute;
  transform: rotateY(180deg)
}

.cloud-nine {
  animation:slide-right 59s alternate infinite;
  width: 41vw;
  margin: 5%;
  position: absolute;
}

.cloud-ten {
  animation:slide-left 43s alternate infinite;
  width: 30vw;
  margin: 15%;
  position: absolute;
  transform: rotateY(180deg)
}

.cloud-eleven {
  animation:slide-right 52s alternate infinite;
  width: 40vw;
  margin: 20%;
  position: absolute;
}

.cloud-twelve {
  animation:slide-left 41s alternate infinite;
  margin: 2%;
  position: absolute;
}

.cloud-thirteen {
  animation:slide-right 62s alternate infinite;
  width: 35vw;
  position: absolute;
  transform: rotateY(180deg);
}





//~~~~~~~~~~ keyframes ~~~~~~~~~~~~
@keyframes slide-left {
  0% {
    transform:translateX(-50%);
    opacity: 1;
  }
  100% {
    transform:translateX(100%);
    opacity: .5;
  }
}

@keyframes slide-right {
  0% {
    transform:translateX(100%);
    opacity: 1;
  }
  100% {
    transform:translateX(-50%);
    opacity: .5;
  }
}
