@import './_variables';
@import './_mixins';

.submit-login-button {
  @include turquoise-button();
}

.submit-login-button {
  @include button-hover();
}

.signup-form {
height: 30vh;
display: flex;
flex-direction: column;
justify-content: space-around;
}
