@import './_variables';
@import './_mixins';

@media only screen and (min-width: 992px) {
  .seed-catalogue-container {
    border: 3px solid black;
    background-color: $white-opc;
    width: 40vw;
    height: 50vh;
    margin: 5%;
  }
}

@media only screen and (max-width: 991px) {
  .seed-catalogue-container {
    border: 3px solid black;
    background-color: $white-opc;
    width: 90vw;
    height: 50vh;
    margin: 5%;
  }
}




.seed-catalogue-header {
  border-bottom: 3px solid black;
  background-color: $white-opc;
  width: 100%;
  margin: 0;
  padding: .15%;
}

.catalogue-list-container {
  width: 100%;
  height: 30vh;
  overflow-y: scroll;
}

.catalogue-list-button {
  @include list-button();
}

.catalogue-list-button:hover {
  @include list-button-hover();
}

.search-catalogue-input {
  margin: 2%;
  width: 50%;
}


// .search-catalogue-form {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }
