@import './_variables';
@import './_mixins';

.submit-signup-button {
  @include turquoise-button();
}

.submit-signup-button:hover {
  @include button-hover()
}

.signup-form {
height: 30vh;
display: flex;
flex-direction: column;
justify-content: space-around;
}
